@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;

    display: grid;
    grid-template-areas:
    'header header'
    'nav content'
    'nav content';
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 40px 1fr;
}
header{
    grid-area: header;
}
.mainDiv{
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    height: 38px;
    border: skyblue solid 1px;
    background-color: #17795a;
}

.left-side{
    position: relative;
    background: #17795a;
    border: 1px solid rgba(0, 0, 0, 0.07);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.065);
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.0856)
}
.avatar{
    position: absolute;
    text-align: center;
    top: 5%;
}

.avatar img{
    padding: 10px;
    width: 50%;
    height: 50%;
    border: 1px solid white;
    border-radius: 50%;
}
.left-side nav{
    flex: 2;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 2rem;
}
.left-side nav ul{
    list-style: none;
}
nav a{
    color: white;
    text-decoration: none;
    margin: 1rem;
    transition: all 0.2s ease-in;
}
nav a:hover{
    color: #28c997;
    
}

p{
    font-size: 2em;
    color: white;

}
h1{
    font-size: 4em;
    color: white;
}
button{
    outline: none;
    border: none;
    padding: 0.8rem 2.6rem;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    border: solid #28c997;
    color: rgb(4, 252, 219);
    margin: 2rem;
    transition: 0.7s;
    font-family: sans-serif;
}
button:hover{
    background-color: #28c997;
    border-color: #28c997;
    cursor: pointer;
    color: white;
    border: solid white;
}
.divNav{
    grid-area: nav;
    position: fixed;
    width: 16rem;
    margin-top: 40px;

}
main{
    grid-area: content;
    height: 1478px;
}
.profile, .experience, .education, .skills, .interest, .award{
    height: 100vh;
    background-color: rgba(09, 10, 10, 0.6);
    border: skyblue 1px solid;
}
.profile{
    color: #fff;
    padding: 40px;
    

}
.social-links {
    position: absolute;
    padding: 2rem;
    width: 100%;
}
.social-links a{
    color: white;
    padding: 0.5rem;
}
.social-links a:hover{
    color: #28c997;
    transition: all 0.2s ease-in;
}
/* ----------------------------------------- */
.experience{
    
}
.education{

}
.skills{

}
.interest{

}
.award{

}

