 @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 *{
    scroll-behavior: smooth;
 }
body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;

    display: grid;
    grid-template-areas:
    'header header'
    'nav content'
    'nav content';
    grid-template-columns: 300px 5fr;
    grid-template-rows: 40px 1fr;
    }
.top{
        grid-area: header;
        background-color:#17795a;
        border: skyblue 2px solid;
        position: fixed;
        left: 0;
        right: 0;
        height: 40px;
        z-index: 2;
    }
    /* ---------------------------------------------------------------------------------- */
.left-side{
        height: 100vh;
        grid-area: nav;
        background-color: #17795a;
        border: skyblue 2px solid;
        min-width: 300px;
        position: fixed;
        width: 16rem;
        margin-top: 40px;
        z-index: 1;
        margin-right: 100px;
    }
img{
    padding: 10px;
    width: 50%;
    height: 50%;
    border: 1px solid white;
    border-radius: 50%;
}
.avatar{
    position: absolute;
    text-align: center;
    top: 5%;
}
.profile-details{
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-top: 2rem;
}
a{
    color: white;
    text-decoration: none;
    margin: 1rem;
    transition: all 0.2s ease-in;
    font-size: 20px;
    list-style: none;
    font-weight: bold;
    font-size: 2rem;
}
a:hover{
    color: #28c997;
}

    /* ------------------------------------------------------------------------------------ */
.about-right, 
.experience-right, 
.education-right, 
.skill-right, 
.interests-right, 
.testimonies-right{
        height: 100vh;
        background-color: rgba(9, 10, 10, 0.6);
        border: skyblue 2px solid;
        border-: ;
        border-radius: 10px;
        max-height: 750px;
        margin-top: -0.50px;
        padding-left: 5%;
        color: #fff;
    }
.right-side{
        grid-area: content;
        z-index: 0;
    }
.about-right,
.experience-right,
.education-right,
.skill-right,
.interests-right,
.testimonies-right{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        padding-right: 5%;
    }
p{
    font-size: 2rem;

}
h1{
        margin-bottom: 0rem;
        font-size: 6rem;
    }
h2, 
.date{
    font-size: 31px;
    font-weight: bold;
}
.myAddress{
        margin-bottom: 2rem;
        font-size: 1.9rem;
        font-weight: bold;
    }
.myAbout{
        margin-bottom: 2rem;
        letter-spacing: 2px;
        font-size: 30px;
    }
.mySocial{
        
    }
.name{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }